In [7]:

#import the libraries
import pandas as pd                        
from pytrends.request import TrendReq


#build model
pytrend = TrendReq(hl='en-US')

#provide your search terms
words = input("enter keywords seperated by comma: ")
kw_list = words.split(', ')


pytrend.build_payload(kw_list=kw_list, timeframe = 'now 7-d', geo = "US")

df1 = pd.DataFrame()

enter keywords seperated by comma: crypto market crash, crypto, cryptocurrency, sell cryptocurrency

In [8]:
print("\nleft columns are top & right columns are rising queries ")

for x in range(len(kw_list)):
        related_queries = pytrend.related_queries()
        related_queries.values()
       
        top = list(related_queries.values())[x]['top']
        rising = list(related_queries.values())[x]['rising']
        
        dftop = pd.DataFrame(top)
        dfrising = pd.DataFrame(rising)
        
        joindfs = [dftop, dfrising]
        allqueries = pd.concat(joindfs, axis=1)

        
        
        allqueries.rename({'query': 'top query', 'value': 'top query value', 'query.1': 'top query', 'value.1': 'related query value'}, axis=1, inplace=True) 
        
        print("\n", kw_list[x], "related queries: ")
        display(allqueries.head(50))
        df1 = df1.append(allqueries)
        df1.reset_index(inplace=True, drop=True)

        
    
        
        x+=1

left columns are top & right columns are rising queries

 crypto market crash related queries:

,top query,top query value,top query,top query value
0,stock market,100,marines killed osprey crash,670900
1,stock market crash,100,yellowstone national park mount doane,306300
2,crypto crash today,44,google ai lamda blake lemoine,275650
3,crypto market crash today,44,marysville kansas tornado,230900
4,bitcoin,42,idaho pride u haul,199050
5,bitcoin crash,42,celsius crypto,183450
6,crypto market crash 2022,31,celsius,183450
7,crypto crash 2022,31,xbox bethesda games showcase,163300
8,market crash 2022,31,caribbean summer hallmark movie cast,71600
9,stock market today,29,s&p 500,66300
10,stock market crash today,29,what is a bear market,66200
11,marines killed osprey crash,23,dow jones stock markets,61200
12,bitcoin price,22,russia ukraine,56050
13,housing market crash,21,coinmarketcap,50400
14,housing market,21,why crypto market is down today 2021,45800
15,crypto news,21,amc stock,35650
16,market news,21,bear market definition,30550
17,crypto market news,21,mexico dead bodies,30550
18,crypto market cap,16,dancing dolls killed,25450
19,bear market,15,stock market today,300
20,crypto bear market,15,stock market crash today,300
21,did the crypto market crash,15,crypto news today,250
22,stock market crash 2022,15,ethereum price,200
23,ethereum,12,crypto crash today,190
24,reddit crypto,11,crypto market crash today,190

C:\Users\cbernier\AppData\Local\Temp\ipykernel_18532\1451148727.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(allqueries)

 crypto related queries:

,top query,top query value,top query,top query value
0,crypto price,100,3ac crypto,15100
1,crypto news,86,dancing dolls killed,8950
2,bitcoin,70,full moon strawberry moon 2022,7100
3,crypto bitcoin,70,weather tornado warning,6000
4,crypto crash,59,june 13 final jeopardy,5950
5,crypto market,50,the end of crypto,5900
6,celsius crypto,49,yellowstone national park mount doane,4850
7,celsius,49,celsius crypto price,4350
8,what is crypto,45,celsius crypto news,3850
9,crypto stock,44,greater fool theory,3000
10,buy crypto,39,celsius crypto,2850
11,crypto today,35,celsius,2850
12,crypto prices,34,crypto crash today,2800
13,bitcoin price,30,bill gates on crypto,2300
14,bitcoin crypto price,30,dow jones stock markets,2050
15,reddit crypto,28,amzx22 crypto,1700
16,crypto wallet,27,celcius crypto,1700
17,coinbase,26,celcius,1700
18,ethereum,22,bill gates crypto,1650
19,crypto currency,19,why is crypto crashing,1500
20,crypto crashing,17,what is celsius crypto,1450
21,luna crypto,16,forta crypto,1250
22,luna,16,is crypto crashing,1150
23,cryptocurrency,16,crypto crashing,1050
24,crypto mining,15,celsius network,1000

C:\Users\cbernier\AppData\Local\Temp\ipykernel_18532\1451148727.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(allqueries)

 cryptocurrency related queries:

,top query,top query value,top query,top query value
0,bitcoin cryptocurrency,100,dow jones stock markets,286050
1,bitcoin,100,flooding yellowstone national park,225000
2,cryptocurrency price,91,seinfeld actor died,118000
3,cryptocurrency bitcoin price,77,man climbing devon tower oklahoma city,116500
4,bitcoin price,77,alopecia areata fda approved,57950
5,cryptocurrency prices,19,voice actor billy kametz,54350
6,what cryptocurrency,19,dancing dolls killed,48900
7,warren buffett cryptocurrency,17,congressman sean casten,40600
8,crypto,16,mexico dead bodies,35000
9,cryptocurrency news,15,stock market federal reserve,32950
10,what is cryptocurrency,14,dow jones stock markets futures,32500
11,cryptocurrency market,11,elden ring update,32100
12,best cryptocurrency,9,illinois congressman sean casten,31100
13,buy cryptocurrency,9,wordle answer june 14th,28700
14,dow jones stock markets,7,jan 6 committee hearings,27800
15,ethereum,6,full moon strawberry moon 2022,27650
16,ethereum cryptocurrency,6,housing market layoffs,27000
17,reddit cryptocurrency,6,elephant tramples funeral,26450
18,is bitcoin cryptocurrency,6,instagram stories repeating,25700
19,flooding yellowstone national park,5,oklahoma city,25500
20,stock market,5,star wars obi wan kenobi episode 5,24850
21,bitcoin news,5,google ai come to life,22100
22,ethereum price,5,bill hader barry season 3,21850
23,ethereum cryptocurrency price,5,yellowstone national park mount doane,20500
24,top cryptocurrency,4,elden ring patch 1.05 patch notes,19550

C:\Users\cbernier\AppData\Local\Temp\ipykernel_18532\1451148727.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(allqueries)

 sell cryptocurrency related queries:

,top query,top query value,top query,top query value
0,buy and sell cryptocurrency,100,should i sell my cryptocurrency,400.0
1,how to sell cryptocurrency,93,cryptocurrency sell off,250.0
2,bitcoin,76,cryptocurrency news,180.0
3,should i sell my cryptocurrency,41,cryptocurrency bitcoin price,160.0
4,cryptocurrency bitcoin price,29,bitcoin price,160.0
5,bitcoin price,29,where to buy and sell cryptocurrency,100.0
6,how to buy and sell cryptocurrency,22,bitcoin,80.0
7,where to buy and sell cryptocurrency,11,NaN,NaN
8,cryptocurrency news,11,NaN,NaN
9,cryptocurrency sell off,10,NaN,NaN
10,when to buy and sell cryptocurrency,8,NaN,NaN
11,best app to buy and sell cryptocurrency,8,NaN,NaN

C:\Users\cbernier\AppData\Local\Temp\ipykernel_18532\1451148727.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(allqueries)

In [52]:
df1.to_csv('capital1_trends.csv')